a {
  text-decoration: none;
}

code {
  background-color: var(--mu-colors-background-surface-brand-subdued);
}

html, body {
  margin: 0;
  padding: 0;
}

.codex-editor {
  padding: 6px 8px;
}

.ce-toolbar__content {
    max-width: calc(100% - 60px) !important;
    margin: 0 auto;
}

.ce-block__content {
    max-width: 650px;
    margin: 0px 0px 0px 60px !important;
}

.codex-editor__redactor {
    padding-bottom: 16px !important;
}

@media (max-width: 650px) {
  .codex-editor {
    padding: 6px 64px;
  }
}